image: docker:24

services:
  - docker:24-dind

variables:
  DOCKER_HOST: tcp://docker:2375
  DOCKER_TLS_CERTDIR: ""

stages:
  - test

integration_test:
  stage: test
  script:
    - apk add --no-cache curl bash python3 py3-pip git
    - pip install ansible kubernetes
    - ansible-galaxy collection install kubernetes.core

    # Install kind
    - curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
    - chmod +x kind
    - mv kind /usr/local/bin/kind

    # Install kubectl
    - curl -LO "https://dl.k8s.io/release/stable.txt"
    - KVER=$(cat stable.txt)
    - curl -LO "https://dl.k8s.io/release/$KVER/bin/linux/amd64/kubectl"
    - chmod +x kubectl
    - mv kubectl /usr/local/bin/

    # Install Helm
    - curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

    # Create kind cluster
    - kind create cluster --name ci-cluster

    # Smoke test
    - kubectl get nodes

    # Destroy cluster
    - kind delete cluster --name ci-cluster